* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  --clr-primary: #619ef9;
  --clr-second: #eef0f4;
  --clr-text: #655b5b;
  --linear-text: linear-gradient(
    122.46deg,
    #4f607a 39.14%,
    rgba(47, 32, 227, 0.74) 57.2%
  );
  --font-family: "Roboto", sans-serif;
  --soft-ui: drop-shadow(8px 8px 12px #c3c5c8)
    drop-shadow(-8px -8px 12px #ffffff);
}

html {
  scroll-behavior: smooth;
}

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.2);
}
* * {
  outline: 1px solid rgba(0, 255, 0, 0.2);
}
* * * {
  outline: 1px solid rgba(0, 0, 255, 0.2);
}
* * * * {
  outline: 1px solid rgba(255, 0, 255, 0.2);
}
* * * * * {
  outline: 1px solid rgba(0, 255, 255, 0.2);
}
* * * * * * {
  outline: 1px solid rgba(255, 255, 0, 0.2);
}
* * * * * * * {
  outline: 1px solid rgba(255, 0, 0, 0.2);
}
* * * * * * * * {
  outline: 1px solid rgba(0, 255, 0, 0.2);
}
* * * * * * * * * {
  outline: 1px solid rgba(0, 0, 255, 0.2);
} */

body {
  background-color: var(--clr-second);
}

section {
  align-items: center;
  display: flex;
  margin: auto;
  min-height: 75vh;
  width: 85%;
}

h2:hover {
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
  cursor: pointer;
  transition: all 0.5s linear;
  background-image: linear-gradient(
    0deg,
    rgba(180, 170, 255, 0.4),
    rgba(180, 170, 255, 0.4) 30%,
    transparent 40%,
    transparent
  );
  border-bottom: none;
  color: inherit;
  width: max-content;
}

/* home styling  */
.home,
.about {
  align-items: center;
  display: flex;
  margin: auto;
  min-height: 100vh;
  width: 90%;
}

.projectsContainer {
  align-items: center;
  margin: auto;
  min-height: 100vh;
  width: 90%;
}

.intro,
.aboutme {
  flex: 1 1;
}

.intro .intro-title,
.about .about-title,
.projects .projectsTitle,
.ProjectTitle {
  font-size: 4rem;
  color: var(--clr-text);

  font-weight: 600;
}

.ProjectTitle {
  font-size: 2rem;
  font-weight: 600;
}

.about-title,
.projectsTitle {
  margin-bottom: 2rem;
}

.intro .intro-title .linear,
.about .about-title .linear,
.projects .projectsTitle .linear,
.ProjectTitle .linear {
  background: var(--linear-text);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects .projectsTitle .linear {
  text-align: center;
}

.intro .intro-subtitle,
.aboutme .about-subtitle,
.projectDetail {
  color: var(--clr-text);
  font-style: normal;
  font-weight: 500;
  font-size: 2.8vw;
  line-height: 6vw;
}

.aboutme .about-subtitle {
  font-size: 1.8vw;
  line-height: 3vw;
  width: 90%;
  margin-bottom: 1rem;
}

.projectDetail {
  font-size: 1.2rem;
  line-height: 2vw;
}

.project {
  display: grid;
  margin-bottom: 4rem;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.project:nth-of-type(even) .ProjectImg_Wrapper {
  grid-column: 5/-1;
  grid-row: 1/1;
  height: 30rem;
  max-width: 3237px;
  display: block;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}

.project:nth-of-type(even) .ProjectImg_Wrapper .projectImg {
  width: 100%;
  height: 100%;
  filter: var(--soft-ui);
  border: 8px solid #fff;
  background-color: var(--clr-second);
}

.project:nth-of-type(odd) .ProjectImg_Wrapper .projectImg {
  width: 100%;
  height: 100%;
  filter: var(--soft-ui);
  border: 8px solid #fff;
  background-color: var(--clr-second);
}

.project:nth-of-type(even) .project-info {
  grid-column: 2 / span 7;
  grid-row: 1/1;
  text-align: left;
}

.ProjectImg_Wrapper,
.project-info {
  grid-row: 1/1;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
}

.ProjectImg_Wrapper {
  grid-column: 1 / 7;
  height: 100rem;
  max-width: 3237px;
  display: block;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}

.projectImg::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  z-index: 1;
}

.projectImg {
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.projectImg:hover {
  opacity: 1;
  transition: 0.2s all linear;
  cursor: pointer;
}

.project-info {
  z-index: 1;
  grid-column: 5/12;
  background: var(--clr-primary);
  padding: 2rem 2rem;
  background-color: var(--clr-second);
  border: 8px solid #fff;
}

.profile {
  display: flex;
  flex: 1 1;
  height: 50vh;
  justify-content: center;
}

.skills {
  display: flex;
  flex: 1 1;
  justify-content: center;
}

.profile_image {
  box-sizing: border-box;
  position: absolute;
  width: 25%;
  filter: var(--soft-ui);
  border-radius: 750px;
  border: 8px solid var(--clr-second);
  z-index: 1;
}

.social {
  display: flex;
  width: fit-content;
  margin-top: 1.5vw;
}

.sociallist:nth-child(1) {
  margin: 0 1rem 0 0;
}

.sociallist {
  list-style: none;
  width: 3rem;
  height: 3rem;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem;
  background-color: var(--clr-second);
  border: 2px solid #fff;
  filter: var(--soft-ui);
}

.social .sociallist .social-icon {
  text-align: center;
  display: flex;
  color: var(--clr-primary);
  font-size: 1.5rem;
}

.social .sociallist:hover {
  color: var(--clr-primary);
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
  transition: 0.2s all linear;
  cursor: pointer;
}

/* skills tags */
.tags {
  width: 100%;
}

.tags-cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.tags-cta:nth-child(1) {
  margin-bottom: 2rem;
}

.cta-tag {
  height: 50px;
  width: max-content;
  background-color: var(--clr-second);
  filter: var(--soft-ui);
  color: var(--clr-primary);
  border: 2px solid #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
  outline: none;
  padding: 1.9rem;
  display: flex;
  align-items: center;
  font-weight: 800;
}

.skillsSubtitle {
  color: var(--clr-text);
  margin: 1rem 1.2rem;
}

.skillsSubtitle:nth-last-child(2) {
  margin-top: 2.5rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--clr-primary);
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
  height: 2px;
}

.contact {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contactContent {
  width: 35%;
  display: block;
  margin-left: 7rem;
  margin-right: 8rem;
  border-radius: 0.5rem;
}

.contact-title {
  font-size: 2rem;
  color: var(--clr-text);
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.contact-title .linear {
  background: var(--linear-text);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-paragraph {
  color: var(--clr-text);
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 2.2vw;
}

.contact-paragraph:nth-child(1) {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.contact-input {
  color: var(--clr-text);
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid var(--clr-primary);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.contact-input:focus {
  border: 2px solid var(--clr-text);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: var(--clr-primary);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: var(--clr-second);
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

[type="submit"]:hover {
  background-color: var(--clr-text);
  color: var(--clr-second);
}

.contactForm {
  width: 50%;
  padding: 0 10rem 0 0;
}

.contact-paragraph a {
  margin: 0 0.5rem;
  background-image: linear-gradient(
    0deg,
    rgba(180, 170, 255, 0.4),
    rgba(180, 170, 255, 0.4) 30%,
    transparent 40%,
    transparent
  );
  border-bottom: none;
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1000px) {
  section {
    text-align: center;
  }

  h2:hover {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s linear;
    background-image: linear-gradient(
      0deg,
      rgba(180, 170, 255, 0.4),
      rgba(180, 170, 255, 0.4) 30%,
      transparent 40%,
      transparent
    );
    border-bottom: none;
    color: inherit;
    width: max-content;
  }

  .home,
  .about {
    flex-direction: column;
    min-height: 70vh;
  }

  .profile {
    place-items: center;
    display: flex;
    flex: 1 1;
    height: 50vh;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-end;
    margin-bottom: 3rem;
  }

  .intro .aboutme {
    margin-top: 2rem;
  }

  .tags-cta {
    justify-content: center;
  }

  .tags-cta .cta-tag {
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 1rem;
  }

  .intro .intro-title,
  .about .about-title,
  .projects .projectsTitle,
  .contact-title {
    font-size: 2.5rem;
  }

  .ProjectTitle {
    font-size: 1.5rem;
  }

  .projectDetail {
    line-height: 1.5rem;
    margin: 1rem 0;
  }

  .intro .intro-subtitle,
  .aboutme .about-subtitle,
  .contact-paragraph {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .intro-subtitle {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .contact-paragraph {
    margin-bottom: 1.5rem;
  }

  .social {
    width: 100%;
    justify-content: space-around;
  }

  .sociallist {
    margin: auto;
  }

  .sociallist:nth-child(1) {
    margin: auto;
  }

  .projects {
    margin-top: 10rem;
  }

  .project {
    display: flex;
    flex-direction: column;
  }

  .contact {
    height: max-content;
    flex-direction: column;
  }

  .contactContent {
    width: 80%;
    height: 50%;
    margin: auto;
    text-align: center;
    padding: 0;
    margin-top: 2rem;
  }
  .contactForm {
    width: 80%;
    margin: auto;
    padding: 2rem 0 2rem 0;
  }

  .contact-paragraph {
    width: 100%;
  }
}
